@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #333;
  --background-color: #fff;
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
}
