@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #333;
  --background-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #fff;
    --background-color: #333;
    }
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
}
